.yellowBox-intersect{
    transform: translateX(-140px);
    animation: yellowBox-intersect 500ms forwards ease-in;
}

@keyframes yellowBox-intersect {
    to{
        transform: translateX(0);
    }
}

.mainShape-intersect#mainShape{
    right: -20vw;
    bottom: -20vh;
    animation: mainShape-intersect 500ms forwards ease-in;
}

@keyframes mainShape-intersect {
        to{
            right: 0vw;
            bottom: 0vw;
        }
}

#mainPic{
    animation: pulse 2s ease-in-out infinite;
}

#smallCircle, #bigCircle{
    animation: pulse 2s ease-in-out infinite;
}

#bigCircle{
    animation-delay: 1s;
}

#smallCircle{
    animation-delay: 1.5s;
}

@keyframes pulse {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}

.resto-name, .description1, .description2{
    opacity: 0;
    scale: 0;
    animation: mainTitle 1s ease-in-out forwards 500ms;
}

.resto-name{
    animation-duration: 1.5s;
}

#viewMore{
    opacity: 0;
    scale: 0;
    animation: mainTitle 500ms ease-in-out forwards 2s;
}

@keyframes mainTitle {
    to{
        opacity: 1;
        scale: 1;
    }
}