* {
  color: #fff;
  padding: 0;
  margin: 0;
  z-index: 1;
}

:root {
  --navbar-height: 35px;
}

body {
  background-color: transparent;
  position: relative;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}

nav {
  margin-top: 20px;
  width: 100vw;
  height: var(--navbar-height);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: opacity 300ms ease-out;
}

.header-left {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 25px;
}




#small-box-yellow {
  background-color: #ffd700;
  width: 130px;
  height: 100%;
}

.header-left div:first-child {
  margin-right: 10px;
}
.header-left div:nth-child(2) svg {
  width: 25px;
  height: 100%;
}
.header-left div:nth-child(3) {
  font-family: "Italianno", cursive;
  font-size: 35px;
  display: flex;
  padding-top: 5px;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 30px;
  position: absolute;
}

.navbar a {
  color: #9a8b8b;
  font-size: 20px;
  text-decoration: none;
}

.navbar .current-nav {
  color: #ffffff;
}

.home-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #1b1b1b;
}

.second-container {
  height: 100vh;
}

.first-frame {
  width: calc(100vw - 300px);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.resto-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  color: #ffd700;
  font-weight: 700;
}

.description1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Kameron", serif;
  font-size: 25px;
}

.description2 {
  font-family: "Kameron", serif;
  font-size: 15px;
}

.line {
  width: 20px;
  height: 3px;
  background-color: #fff;
}

#viewMore {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #fdd691;
  color: #000000;
  font-family: "Kameron", serif;
  font-weight: 700;
  transition: transform 300ms ease;
}

#viewMore:hover {
  transform: translateY(-10px);
}

#mainpic-container {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 8vw;
  bottom: 15vh;
  z-index: 2;
}



#mainShape {
  width: 550px;
  height: 550px;
  position: absolute;
  right: 0vw;
  bottom: 0vw;
  background-color: #ffd700;
  z-index: 1;
  clip-path: circle(69.9% at 71% 94%);
}

#mainPic {
    width: 100%;
    height: 100%;
  }

#bigCircle,
#smallCircle {
  background-color: transparent;
  border: 2px solid #fdd691;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
  top: 70%;
}
#bigCircle {
  width: 50px;
  height: 50px;
  left: -70px;
}

#smallCircle {
  width: 30px;
  height: 30px;
  left: -120px;
  top: 80%;
}

#home-bg {
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#home-bg {
  background-image: url("images/urlBg.jpg");
  background-size: cover;
  opacity: 0.3;
}

.second-container {
  height: 500px;
  padding-top: calc(20px + var(--navbar-height));
  background-color: #fff;
}

#viewMenu {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  color: #000;
  opacity: 0.9;
  margin-bottom: 30px;
}

.category-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.category-container li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.category-container li div {
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600px;
}

.category-container li img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.category-container li a {
  background-color: #1b1b1b;
  color: #ffd700;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
}
